<div class="content mt-4"> 
    <div class="row">
    <div class="col-5 m-auto" style="width: 18rem;">
      <img [src]="product?.image" class="card-img-top" alt="pizza">
      <div class="card-body">
        <h5 class="card-title text-center">{{product?.title}}</h5>
        <p class="card-text text-center">{{product?.date | date}}</p>
        <p class="card-text text-center">{{product?.author}}</p>
        <div class="cnt d-flex justify-content-center">
          <a class="btn btn-primary" (click)="location.back()">Go Back</a>  
        </div>
      </div>
    </div>
</div>
  </div>
  