<div class="content">
<div class="d-flex align-items-start mt-4">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link" [routerLink]="['admin-blog']" routerLinkActive="router-link-active">Blogs</a>
    <a class="nav-link" [routerLink]="['admin-categories']" routerLinkActive="router-link-active">Categories</a>
    <a class="nav-link" [routerLink]="['admin-products']" routerLinkActive="router-link-active">Products</a>
  </div>
</div>
<div class="table">
  <router-outlet></router-outlet>
</div>
</div>