<div class="content">
  <div class="card mt-4" style="width: 18rem;" *ngFor="let elem of blogs">
    <img [src]="elem.image" class="card-img-top" alt="pizza">
    <div class="card-body">
      <h5 class="card-title text-center">{{elem.title}}</h5>
      <p class="card-text text-center">{{elem.date}}</p>
      <p class="card-text text-center">{{elem.author}}</p>
      <div class="cnt d-flex justify-content-center">
        <a class="btn btn-primary">Enjoy</a>
      </div>
    </div>
  </div>
</div>
